.tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.tracking:hover{
    cursor: pointer;
}
.progress-container .p1 p,
.progress-container .p2 p,
.progress-container .p3 p
{
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    font-family:  Arial, sans-serif;
}


.progress{
    margin-bottom: 5%;
}

.nutrion-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page-track h1{
    background-color: #92d4c0;
    border-radius: 30px;
    color: #e9f5f1;
    height: 2em;
    text-align: center;
    line-height: 2em;
    
}
.page-track .exercise{
    background-color: #d5ede9;
    opacity: 1;
    border-radius: 20px;
}



